/* reset */
$min-width: 320px; 
$max-width: 1024px; 
$base-bg: #FFF; 
$base-font-size: 10px; 
$base-line-height: 18px; 
$base-font-family: Arial, sans-serif; 
$base-font-family: 'NotoSansUI', sans-serif;
$secondary-font-family: 'NotoSansUI-Bold', sans-serif;
$link-color: #000;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #000;
$sub-color: #747688;
$secondary__color:#cb944c;
$title-font-family: $base-font-family;
